
@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@section Styles{
    <link href=@Url.Content("~/CSS/List.css") rel="stylesheet" type="text/css" />

}

<div class="CategoriesContent">
    @Html.Action("ModelsMenu")
    <!--<div class="sceletonList">
        <form id="search-form" method="get" data-ajax="true" data-ajax-target="#sekcjaListaKategorii">
            <input id="search-filter" type="search" name="searchQuery"
                   data-autocomplete-source="@Url.Action("ModelsPrompt")"
                   placeholder="Wprowadź tekst, aby filtrować..." />
            <input type="submit" value=""/>
        </form>
       </div>    -->
       @Html.Partial("_ModelList")

</div>

