@keyframes slide-in {
    0% {
        height: 45em;
        overflow-y: hidden;
    }

    100% {
        height: 15.3em;
    }
}
@keyframes slide-out{
    from{
        height:15.3em;
    }
    to{
        height:45em;
        overflow-y:visible;
    }
}
@keyframes slide-in-100{
    from{
        height: 100%;
    }to{
         height:0%;
     }
}
@keyframes slide-out-100{
    from{
        height:0%;
    }
    to{
        height:100%;
    }
}