@import "Animation.css";
@import "root.css";
body
{
    margin: 0;
    padding: 0;
    color: var(--bg-color);
}

.Wrapper
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}

.LayoutHeader
{
    top: 0;
    left: 0;
    margin: 0;
    position: fixed;
    border-bottom: 3px solid #bb0a30;
    background-color: #121212;
    width: 100%;
    z-index: 9;
}

.Header-Navigation
{
    display: flex;
    margin: 0 auto;
    position: relative;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #121212;
    width: 80%;
}

.Header-Navigation > .LoginBasket
{
    display: flex;
    margin-left: auto;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    align-self: flex-end;
}

.Header-Navigation .LoginBasket > div a
{
    display: flex;
    position:relative;
    text-decoration: none;
    height: 100%;
    color: var(--bg-color);
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 9px;
    z-index:1;
}

.Header-Navigation > .LoginBasket > div > a:after{
     content:" ";
    display:block;
    position:absolute;
    height:100%;
    width:0;
    visibility:hidden;
    background: var(--borders-color);
    left: -5%;
    transition: .25s ease;
    z-index:-1;
}
.Header-Navigation > .LoginBasket > div > a:hover:after{
    left: 0;
    width: 50%;
    visibility: visible;
}
.Header-Navigation > .LoginBasket > div > a:before{
    content: " ";
    display: block;
    position: absolute;
    height: 100%;
    width: 0;
    visibility: hidden;
    background: var(--borders-color);
    right: -5%;
    transition: .25s linear;
    z-index:-1;
}
.Header-Navigation > .LoginBasket > div > a:hover:before{
    right: 0;
    width: 50%;
    visibility: visible;
}
.Header-Navigation .LoginBasket div a span
{
    font-style: italic;
}

[class ^= "fas"]
{
    font-size: 22px;
}
.Header-Navigation img
{
    float: left;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    height: 50px;
}

.Header-Navigation > ul
{
    list-style-type: none;
    position:relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    vertical-align: top;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: auto;
}

.Header-Navigation > ul > li
{
    list-style: none;
    display: flex;
    position:relative;
    height: 100%;
    align-items: center;
    vertical-align: center;
    float: left;
    padding: 0px;
}
.Header-Navigation > ul > li:after
{
    content:" ";
    display:block;
    position:absolute;
    height:100%;
    width:0;
    visibility:hidden;
    background: var(--borders-color);
    left: -5%;
    transition: .25s ease;
}

.Header-Navigation > ul > li:hover:after{
    left:0;
    width: 50%;
    visibility:visible;
}

.Header-Navigation > ul > li:before
{
    content:" ";
    display:block;
    position:absolute;
    height:100%;
    width:0;
    visibility:hidden;
    background: var(--borders-color);
    right: -5%;
    transition: .25s linear;
}

.Header-Navigation > ul > li:hover:before{
    right:0;
    width: 50%;
    visibility:visible;
}


.Header-Navigation > ul > li >  a
{
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px #000;
    color:var(--bg-color);
    display: block;
    padding: 20px;
    width: 100%;
    z-index:1;
}

.Wallpaper
{
    position: relative;
    width: 100%;
    background-image: url(Audi%20Prologue%204K%20Ultra%20HD%20Desktop%20Wallpaper.jpg);
    background-position: 50% 66.9%;
   
}

.LayoutCategories {
    position: relative;
    background: #000;
    width: 100%;
    border-top: 3px solid var(--borders-color);
    background: #000;
}

.BodySceleton
{
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    justify-content:flex-start;
    align-items: flex-start;
    width: 90%;

}

.CategoriesContent {
    display: flex;
    margin: 0 1em;
    width: 100%;
    padding: .5em;
    justify-content: flex-start;
}
@media screen and (max-width: 1100px) {
    .CategoriesContent {
        flex-direction: column;
    }
}
.CategoriesContentFlowColumn{
    flex-flow: column;
}

.CategoriesContentFlowColumn > div:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: .2em 0em .2em 0em;
}

.MenuList:not(:first-child)
{
    border-left: 2px solid var(--borders-color);
}

.MenuList
{
    position: relative;
    z-index: 1;
}
.MenuList > a
{
    font-weight: 123px;
    display: block;
    position: relative;
    padding: 5px;
    margin: 0 6px;
    font-family:fantasy;
    color: var(--bg-color);
    text-decoration: none;
    font-size: 1.4em;
    letter-spacing: 3px;
    z-index:1;
}

.MenuList:nth-child(odd)::after {
    content: " ";
    display: block;
    position: absolute;
    top:0;
    left:100%;
    width: 0;
    height:100%;
    background: var(--borders-color);
    opacity:0;
    visibility:hidden;
    transition: .25s linear;
}
.MenuList:nth-child(even)::after {
    content: " ";
    display: block;
    position: absolute;
    top:0;
    right:100%;
    width: 0;
    height:100%;
    background: var(--borders-color);
    opacity:0;
    visibility:hidden;
    transition: .25s linear;
}
.MenuList:hover::after{
    opacity:1;
    width:100%;
    visibility:visible;
    right:0;
    left:0;
}

.VerticalContent::-webkit-scrollbar{
    width: 5px;
}
.CategoriesContent > .VerticalContent
{
    display: flex;
    position:relative;
    top:100%;
    flex-flow: row wrap;
    justify-content: center;
    overflow-y:hidden;
}
.slide-in {
    animation: slide-in 1s forwards;
}
.slide-out{
    animation: slide-out 1s forwards;
}
.VerticalContent > label
{
    margin: 10px;
    padding: 5px;
}
.CategoriesContent label > a:first-child
{
    display: flex;
    position: relative;
    flex-direction: column;
    text-decoration: none;
    color: var(--bg-color);;
    text-align: center;
    max-width: 300px;
    box-sizing: border-box;
    z-index: 1;
    transition:.15s linear;
}

.CategoriesContent label > a:hover:first-child::after
{
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 5px;
    top: 5px;
    background: #000;
    -webkit-filter:blur(5px);
    -moz-filter:blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    z-index: -1;
}
.CategoriesContent label > a:hover:first-child
{
    box-shadow: 10px 10px #bb0a30;
}
.CategoriesContent label > a:hover:first-child img + label
{
    border-top: 2px solid var(--bg-color);
    border-bottom: 2px solid var(--bg-color);
}
.VerticalContent label a img + label
{
    padding: 20px;
    border-top: 2px solid #bb0a30;
    border-bottom: 2px solid #bb0a30;
    background: #000;
    cursor: pointer;
}
.VerticalContent > label:nth-child(3) a > img
{
    object-position: 0px -50px;
}
.VerticalContent label a img
{
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    object-fit: cover;
}

.CategoriesContent > .VerticalContent + div {
    position: relative;
    background: transparent;
    bottom: 0;
    margin: 3px;
    padding: 2px;
}
#arrow{
    font-size:30px;
}
.CategoriesContent > .VerticalContent + div:hover{
    cursor:pointer;
    text-shadow: 2px 2px #DC143C;
}
.LayoutFooter
{
    position: relative;
    border-top: 3px solid #bb0a30;
    display: flex;
    flex-direction: row wrap;
    align-items: stretch;
    justify-content: center;
    background-color: #121212;
    width: 100%;
    left: 0;
    margin: 0;
}

.LayoutFooter .FooterContent
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    min-height: 8vh;
}

.FooterContent div
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.Media
{
    display: flex;
    margin: 4px;
    padding: 3px;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    border-bottom: 2px solid #bb0a30;
}

.Media label
{
    font-weight: 123px;
    padding: 5px;
    margin: 5px;
    font-family:fantasy;
    text-align: center;
    letter-spacing: 3px;
}

.Media section
{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    padding: 3px;
}

.Media section a
{
    color: var(--bg-color);;
    padding: 4px;
    margin: 4px;
}

.MediaColumn section 
{
    display: flex;
    flex-flow: column;
}

.MediaColumn section address label
{
    letter-spacing: 3px;
    text-shadow: 2px 2px #DC143C;
}

.MediaColumn span
{
    font-style: italic;
    padding: 5px;
}
[class ^="fab"]
{
    font-size: 1.5em;
}

[class ^= "fab"]:hover,
.Media section a:hover {
    text-shadow: 2px 2px #DC143C;
}
.Kontakt
{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.KontaktValue
{
    margin: 0px 5px;;
}

.FooterContent footer
{
    padding: .5em;
    margin: 5px;
    text-shadow: 2px 2px #DC143C;
}

/*-----------SCROLLBAR-------------*/
::-webkit-scrollbar{
    width: 16px;
    background-color: #000;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
    border-radius: 10px;
    background-color: #000;
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: var(--borders-color);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: #e61541;
}
