@model IEnumerable<string>
@using AudiShop.Helpers


@foreach (var item in Model)
{
    <label>
        <a href=@Url.Action("Lista","Models", new { modelName = item.ToString()})>
            <img src=@Url.PathOfModel(item.ToString())>
            <label>@item</label>
        </a>
    </label>
}
