
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="CategoriesContent">
    <div>
        <span><a href="#">MODELE</a></span>
        <span><a href="#">NADWOZIA</a></span>
    </div>
    <div class="VerticalContent">
        <label>
            <a href="#">
                <img src="Images/Models/A1.jpg">
                <label>A1</label>
            </a>
        </label>
        <label>
            <a href="#">
                <img src="Images/Models/A3.jpg">
                <label>A3</label>
            </a>
        </label>
        <label>
            <a href="#">
                <img src="Images/Models/A4.jpg">
                <label>A4</label>
            </a>
        </label>
        <label>
            <a href="#">
                <img src="Images/Models/A5.jpg">
                <label>A5</label>
            </a>
        </label>
        <label>
            <a href="#">
                <img src="Images/Models/A6.jpg">
                <label>A6</label>
            </a>
        </label>
        <label>
            <a href="#">
                <img src="Images/Models/A7.jpg">
                <label>A7</label>
            </a>
        </label>
        <label>
            <a href="#">
                <img src="Images/Models/A8.jpg">
                <label>A8</label>
            </a>
        </label>
    </div>
</div>

