@model AudiShop.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="CategoriesContent">
    <div>
        <span><a href="#">MODELE</a></span>
        <span><a href="#">NADWOZIA</a></span>
    </div>
    <div class="VerticalContent">
        @foreach (var item in Model.Models)
        {   <label>
                <a href=@Url.Action("List","Models", new { models = item})>
                    <img src="Images/Models/A1.jpg">
                    <label>@item</label>
                </a>
            </label>
        }
    </div>
</div>

