@model string
@using AudiShop.Helpers
@using System.Web
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="CategoriesContent CategoriesContentFlowColumn">
    <div>
        <span class="MenuList">
            @Ajax.ActionLink(linkText: "MODELE",actionName: "Models",ajaxOptions: new AjaxOptions
       { UpdateTargetId = "bodyMenu",
           InsertionMode = InsertionMode.Replace,
           HttpMethod = "GET"
       })
        </span>
        <span class="MenuList">
            @Ajax.ActionLink(linkText:"NADWOZIA", actionName:"BodyWorks", ajaxOptions: new AjaxOptions
       {
           UpdateTargetId = "bodyMenu",
           InsertionMode = InsertionMode.Replace,
           HttpMethod = "GET"
       })
        </span>
    </div>
    <div class="VerticalContent slide-in" id="bodyMenu">
        @Html.Action("Models")
    </div>
    <div>
        <i class="fas fa-arrow-down arrow"></i>
    </div>
</div>


