@model string
@using AudiShop.Helpers
@using System.Web
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="CategoriesContent">
    <div>
        <span>
            @Ajax.ActionLink("MODELE","Models", new AjaxOptions
   { UpdateTargetId = "bodyMenu",
   InsertionMode = InsertionMode.Replace,
     HttpMethod = "GET"
   })
        </span>
        <span>
            @Ajax.ActionLink("NADWOZIA","BodyWorks", new AjaxOptions
           { UpdateTargetId = "bodyMenu",
           InsertionMode = InsertionMode.Replace,
             HttpMethod = "GET"
           })
        </span>
    </div>
    <div class="VerticalContent" id="bodyMenu">
        @Html.Action("Models")
    </div>
</div>


